<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.transfer.dao.one.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.transfer.entity.one.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address_i" jdbcType="VARCHAR" property="addressI" />
  </resultMap>
  <insert id="insertA" parameterType="user">
    INSERT INTO user_sys(`name`) VALUES (#{name});
  </insert>
</mapper>